*{
    margin:0;
    padding:0;
}

/* navbar */
#nav{
    position: sticky;
    top:0;
    z-index: 1001;
}

.navbar{
    background-color: rgb(16, 25, 34);
}

.navbar-brand span{
    font-weight: bolder;
    color: #fff;
}

.navbar-nav li{
    padding:0 10px;
}

.navbar-nav li a{
    color:#fff !important;
    font-weight:500;
    text-transform: uppercase;
}

#navbar .btn{
    margin-left: 4rem;
}

/* banner */
#banner{
    position:relative;
    background-color: rgb(16, 25, 34);
    color:#fff;
    padding-top: 7%;
}

#banner .btn{
    margin-top: 3%;
    color: rgb(16, 25, 34);
    margin-right: 10px;
}

.title{
    font-weight: bold;
    margin-top:60px;
    margin-bottom: 20px;
    font-size: 35px;
}

.ban-img{
    position:relative;
    z-index:1000;
    height: 400px;
    margin-left: 5rem;
}

.wave{
    position:absolute;
    bottom:-18%;
    left:0;
}

/* footer */

#footer{
    padding:36px;
    color:rgb(16, 25, 34);
}

#footer img{
    margin-left:1rem;
}

